html {
  height: 100%;
  width: 100%;
}

.navs {
  display: flex;
}

.nav-item {
  font-size: 3em;
}

.button-item {
  bottom: 10px;
  right: 10px;
  font-size:2.5em;
  position: fixed;
}

video{
  position: fixed;
  top: 0;
  right: 10px;
}

canvas{
  position: fixed;
  top: 0;
  right: 10px;
}

.options {
  position: fixed;
  top: 2%;
  right:50%;
  font-size: 3em;
}

.checkbox {
  font-size: 0.5em;
}

thead {
  position: sticky;
  font-size: 2.5em;
  top: 0;
}

table {
  width: 50%;
  border: 1px solid;
}

th, td {
  border: 1px solid;
  text-align: center;
}

.button-complete{
  width:100px;
  height:50px;
  top: 15px;
  left: 30%;
  position: absolute;
}